{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Modak|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>{% block title %}Liam McKay{% endblock %}</title>
    {% block stylesheet %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    {% block script %}
    {% endblock script %}
</head>

<body>
{% block body %}
    <link rel="shortcut icon" type="image/png" href="{% static 'portfolioicon.png' %}"/>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container p-2">
            <a class="navbar-brand" href="{% url 'home:home' %}">
                <img class='m-2' src="{% static 'portfolioicon.png' %}">Liam McKay
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'aboutme:home' %}">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'experience:home' %}">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'art:home' %}">Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'science:home' %}">Science</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'contact:home' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container p-2">
        <ol class="breadcrumb my-4">
            {% block breadcrumb %}
            {% endblock %}
        </ol>
        {% block content %}
        {% endblock content %}
    </div><br>
    <div class="card text-center">
        <div class="card-footer text-muted">

            <h5 class="card-title">Liam McKay<br>
                {% for web in external_websites %}
                    <a href={{ web.external_link }}>
                        <img src="/{{ web.icon.url }}" width="20">{% if web.display_link %}{{ web.display_link }}{% endif %}
                    </a>
                {% endfor %}</h5>
            <p>Professional Portfolio website made with Django<br>
                Author: Liam McKay<br>
                11/10/2020</p>


        </div>
    </div>
{% endblock body %}


</body>
</html>